html{
  font-family: 'Lato', sans-serif;
}
body{
  background: #252525;
  color: #FFFFFF;
}
.orange-main-text{
  color: #f46d3d;
}
.purple-main-text{
  color: #a4b0f5;
}
.blue-main-text{
  color: #4464ad;
}
.blug-bg{
  color: #4464ad;
}
.brown-main-text{
  color: #b46500;
}
blockquote{
  margin: 10px 0 !important;
  padding-left: 1rem !important;
  border-left: 5px solid #f46d3d !important;
}
