html{
  font-family: 'Lato', sans-serif;
}
body{
  background: #466995;
  color: #FFFFFF;
}
.orange-main-text{
  color: #ff9069;
}
.purple-main-text{
  color: #a4b0f5;
}
.blue-main-text{
  color: #4464ad;
}
.brown-main-text{
  color: #7d4600;
}
